body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#basicInfo{
  background-color:#f2f2f2;
  padding-left:24px;
  padding-bottom:10px;
  margin-top:-30px;
  color:black;
  
}
#basicInfoTitle{
  padding-top: 15px;
  font-size:25px;
}
#basicInfoHeadingRow{
  background-color:#BFBFBF;
  margin-left: -24px;
  padding-left: 24px;
  padding-bottom: -40px !important;
  color: black;
}

/* CSS code to create 2 columns in the header of 'Order Info.js' */
.column {
  padding-top:0px;
  float: left;
  width: 50%;
  margin-bottom: -10px;
}.row:after {
  content: "";
  display: table;
  clear: both;
}



/* CSS for Basic Info */
.address{
  line-height: 8px;
  margin-left: 15px;
}


/* CSS for Order Info */
.fourColumns {
  flex: 1; /* Each column takes up an equal amount of space */
  background-color: #f0f0f0;
  padding: 0px 20px 10px 20px;
  border-radius: 8px;
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 20px;
  height:100%;
  /* justify-content: space-between; */
}
.fourColumnsTotal {
  flex: 1; /* Each column takes up an equal amount of space */
  background-color: #f0f0f0;
  padding: 0px 20px 10px 20px;
  border-radius: 8px;
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 20px;
  height:100%;
  /* justify-content: space-between; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex; /* Use Flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px; /* Add some space between columns */
  color:black
}

/* CSS for the CSO Button */
#csoButton{
  background-color: #e3a4c0;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 24px;
  margin-bottom: 10px;
}
#csoButton:hover{
  background-color:#d186a0;
}
input[type="number" i]{
  pointer-events: none;
  font-size: 16px;
}
/* Hides arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Hides arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: f;
}



#noMarginBottom{
  margin-bottom:0px;
  margin-top: 10px;
}
#smallMarginBottomAndTop{
  margin-bottom:2px;
  margin-top: 2px;
}
#noMarginTop{
  margin-top:0px;
  color: #f0f0f0;
  margin-bottom:0px;
}

.divider {
  border-top: 1px solid black;
  margin-top: 5px; /* Adjust margin as needed */
  margin-bottom: 5px; /* Adjust margin as needed */
}
.paragraph-wrapper {
  width: 100%; /* Adjust the width as needed */
}
.paragraph-wrapper p {
  display: inline-block; /* Display paragraphs inline */
  width: 50%; /* Adjust width as needed */
  margin: 0;
}




.bodyItems{
  margin-top:2px;
  margin-bottom:0px;
}





/* Styling for the CSO Number Input Box */

#inputContainer{
  display: flex;
  align-items: center;
}
#numberButton{
  background-color: #e3a4c0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
}
#numberButton:hover{
  background-color: #d186a0;
}
#inputBox{
  height: 22px;
  width: 40px;
  text-align: center;
  margin: 0 5px;
  border-radius: 2px;
  border-color: transparent;
  background-color: transparent;
}