/* Change the color of the line underneath active button  */
.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #d66598; 
  height:3px;
}
/* Change the color of the text of the active button  */
.MuiButtonBase-root.MuiTab-root.Mui-selected{
  color:#d66598;
  font-weight: bold;

}

.MuiButtonBase-root{
  width:25%;
  font-size:16px !important;
}

/* Active tab information */
.css-w8dmq8{
  background-color:#f2f2f2;
  border-radius: 10px;
  color: black;
  margin-bottom: 10px;
}
.css-13xfq8m-MuiTabPanel-root{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}